@charset "utf-8";
/* CSS Document */
html, body, div, h1, h2, h3, h4, h5, h6, p,img {
max-width: 1600px;  height:100%;
} /*height for HTML and BODY set the maximum size of a window*/

ol, ul, li,  embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, section, article, aside, details, figcaption, figure,  footer, 
header, hgroup, menu, nav, section,  { display: block; } 

.container{
	width: 100%;
	height: auto;
	font-family: optima;
	background-color: #95C8D8;
	padding-top: 10px;
	padding-bottom: 10px;
}
#box1img{
	width: 80%;
	height: auto;
	max-width: 500px;
	margin-right: auto;
	margin-left: auto;
	background-color: #95C8D8;
	height: auto;
}
#imageHolder IMG {
	width: 85%;
	height: auto;
}

#containerID{
	width: 100%;
	height: 800px;
	font-family: helvetica;
	display: block;
	background-color: #95C8D8;
}
#leftColumn {
	width: 50%;
	height: 90%;
	margin-top: 1%;
	margin-right: 1%;
	margin-left: 1%;
	float: left;
	background: #95C8D8; 
	}
#rightColumn {
	font-family: optima;,font-size: 12px; line-height: 20px;
	text-align: left; color: #FFF;

	max-width: 500px;
	width: 37%;
	height: 90%;
	margin-top: 1%;
	margin-right: 1%;
	float: left;
	/* background: #A70; brown*/
}
