@charset "utf-8";
/* CSS Document */
html, body, div, h1, h2, h3, h4, h5, h6, p,img {
	max-width: 1920px;
	height: 100%;
}

p 	{
	color: black;
    font-family: times;
    font-size: 48px;}


#container{
	width: 100%;
	height: 1000;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

body {
	background-color: white;
}

#textbox {
	width: 100%;
	height: 250px;
	float: left;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	}

#textboxh2 {
	width: 700px;
	height: 250px;
	float: left;
	text-align: center;
	position: relative;
	top: 800px;
	left: 100px;
}

.planetbox{
	width: 45%;
	height: 700px;
	padding-left: 40px;
	padding-right: 40px;
	animation-name: spin;
	float: left;
	animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
}

#imgholder{
	width: 100%;
	height: 700px;
	position: relative;
	float: left;
	z-index: 1;
}


#imgover{
	width: 250px;
	height: 400px;
	position: relative;
	top: -550px;
	left: 950px;
	z-index: 2;
}

#background{
	width: 1900;
	height: 1040;
	position: relative;
	z-index: 1;
}

#imgholdfull{
	width: 1500;
	height: 1000;
	float: left;
	position: relative;
	top: -1120px;
	z-index: 2;
}


@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.planetbox:hover {
	animation-play-state: running;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#star2window{
	height: 90px;
	width: 90px;
	animation-name: spin;
	float: left;
	animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    position: relative;
    top: 230px;
    left: -50px;
}

#star1window{
	height: 90px;
	width: 90px;
	animation-name: spin;
	float: left;
	animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    position: relative;
    top: 55px;
    left: -50px;

}

#planet1{
	height: 250px;
	width: 250px;
	animation-name: spin;
	float: left;
	animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    position: relative;
    left: 450px;
    top: 30px;
}

#planet2{
	height: 175px;
	width: 175px;
	animation-name: spin;
	float: left;
	animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    position: relative;
    left: 1200px;
    top: 200px;

}

#planet3{
	height: 150px;
	width: 150px;
	animation-name: spin;
	float: left;
	animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    position: relative;
    left: 75px;
    top: 880px;
}

#planetcenter{
	height: 500px;
	width: 500px;
	animation-name: spin;
	float: left;
	animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    position: relative;
    left: 150px;
    top: 220px;
}



#star2window:hover {
	animation-play-state: running;
}

#star1window:hover {
	animation-play-state: running;
}

#planet1:hover {
	animation-play-state: running;
}

#planet2:hover {
	animation-play-state: running;
}

#planet3:hover {
	animation-play-state: running;
}

#planetcenter:hover {
	animation-play-state: running;
}
